{{> header}}
<div id="notifications">
    <div id="successBox" class="notification">
        <span>Login successful.</span>
    </div>
    <div id="loadingBox" class="notification">
        <span>Loading …</span>
    </div>
    <div id="errorBox" class="notification">
        <span>Error...</span>
    </div>
</div>       
<form class="text-center p-5 form-layout" action="#/login" method="POST" id="login">
    <p class="h4 mb-4">Sign in</p>

    <input type="text" id="defaultRegisterFormUsername" name="username" class="form-control mb-4"
        placeholder="Username">

    <input type="password" id="defaultRegisterFormPassword" name="password" class="form-control"
        placeholder="Password">
    <hr>

    <button class="btn btn-danger w-25 m-auto my-4 btn-block" type="submit">Sign in</button>
</form>
